<footer>
    <div class="f-info">

        <div class="f-info-socials">
            <a href="https://twitter.com/b_pramod941"><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href="https://www.instagram.com/pramod_941belagali"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/in/pramodbelagali49/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        
        <div class="f-info-brand"> &copy;WanderWise tech inc.</div>
        <div class="f-info-links">
            <a href="/listings">About</a>
            <a href="/listings">Contact</a>
            <a href="/listings">Terms</a>
            <a href="/listings">Privacy</a>
        </div>
    </div>
</footer>