<style>
  #searchBtn i{
    display: inline;
    margin-right: 0.5rem;
  }
  #searchBtn , .auth-btn{
    border-radius: 1.3rem;
  }
  #srcInput{
    width: 15rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
    padding-left: 10px;
  }
</style>
<body>
    <nav class="navbar navbar-expand-md bg-body-light sticky-top">
        <div class="container-fluid">

          <a class="navbar-brand" href="/listings"><i class="fa-solid fa-plane-departure"></i></a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarNav">

            <div class="navbar-nav">
              <a class="nav-link" aria-current="page" href="/listings">Home</a>
              <a class="nav-link" href="/listings/new">Add new listing</a>
            </div>
            
            <!-- SEARCH BUTTON -->
            <div class="navbar-nav ms-auto">
              <form class="d-flex" role="search">
                <!-- <input class="src-inp me-2" type="search" placeholder="Search destination..."> -->
                <input type="text" id="srcInput" placeholder="Search destination...">
                <button class="btn btn-outline-primary" type="submit" id="searchBtn"> <i class="fa-solid fa-magnifying-glass inline"></i>Search</button>
              </form>
            </div>

            <div class="navbar-nav ms-auto">
              <!-- currUser from resp.locals.currUser=req.user in app.js middleware -->
              <% if (!currUser) { %>
                  <li class="nav-item">
                    <button class="btn btn-sm btn-primary auth-btn">
                      <a class="nav-link" aria-current="signup" href="/signup">SignUp</a>
                    </button>
                  </li>
                  <li class="nav-item">
                     <button class="btn btn-sm btn-success auth-btn">
                        <a class="nav-link" href="/login">Login</a>
                     </button>
                  </li>
              <% }%>
              <% if (currUser) { %>
                  <li class="nav-item">
                    <button class="btn btn-danger btn-sm auth-btn">
                      <a class="nav-link" href="/logout">Logout</a>
                    </button>
                  </li>
              <% } %>
            </div>

        </div>
      </nav>
</body>