<style>
  #searchBtn i {
    display: inline;
    margin-right: 0.2rem;
  }

  #searchBtn, .auth-btn {
    border-radius: 1.3rem;
  }

  #srcInput {
    width: 20rem;
    height: 2.5rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
    padding-left: 10px;
    border: 1px solid rgb(74, 74, 138);
  }
</style>
<body>
    <nav class="navbar navbar-expand-md bg-body-light sticky-top">
        <div class="container-fluid">

          <a class="navbar-brand" href="/listings"><i class="fa-solid fa-plane-departure"></i></a>

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
          </button>
          
          <div class="collapse navbar-collapse" id="navbarNav">

            <div class="navbar-nav d-flex flex-row align-items-center">
              <a class="nav-link d-flex align-items-center me-2 ms-4" href="/listings">
                <i class="fa-solid fa-house me-2 text-success"></i> <b>Home</b>  
              </a>
              <a class="btn nav-link d-flex align-items-center" href="/listings/new">
                <i class="fa-solid fa-plus me-2 text-success"></i> <b>Add Your Listing</b>
              </a>
            </div>

            <!-- SEARCH BUTTON -->
            <div class="position-absolute start-50 translate-middle-x">

              <form action="/listings/search"  method="post" class="d-flex">
                <input type="text" id="srcInput" placeholder="Search listings..." class="form-control" name="searchTerm">
                <button class="btn btn-outline-primary" type="submit" id="searchBtn"> <i class="fa-solid fa-magnifying-glass inline"></i>Search</button>
              </form>

            </div>

            <div class="navbar-nav ms-auto">
              <%# currUser from resp.locals.currUser=req.user in app.js middleware %>
              <% if (!currUser) { %>
                  <li class="nav-item me-2">
                    <a href="/signup" class="btn btn-outline-primary rounded-pill px-1.5"><b>SignUp</b></a>
                  </li>
                  <li class="nav-item">
                      <a href="/login" class="btn btn-outline-success rounded-pill px-1.5"><b>Login</b></a>
                  </li>
              <% }%>
              <% if (currUser) { %>
                  <li class="nav-item">
                    <a href="/logout" class="btn btn-outline-danger rounded-pill px-1.5"><b>Logout</b></a>
                  </li>
              <% } %>
            </div>

        </div>
      </nav>
</body>